<nav class="navbar">
  <div class="nv-top d-flex justify-content-between">
    <div class="nv-left">
      <a href="/" class="logo"></a>
      <div class="search">
        <input type="input" onClick="changeInput()" placeholder="Anywhere" class="input" ><button type="button"></button><button type="button"></button>
      </div>
    </div>
    <div class="nv-right">
      <ul>
        <li><a href="#">Start earning with Airbnb</a></li>
        <li><a href="#">Help</a></li>
        <% if user_signed_in? %> 
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <li><a href="/users/sign_up">Sign Up</a></li>
          <li><a href="/users/sign_in">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="nv-bottom">
    <ul>
      <% if user_signed_in? && current_user.profile %>
        <li><a href="/conversations">My Conversations</a></li>
        <li><a href="/profiles/<%= current_user.profile.id %>">My Profile</a></li>
      <% end %>
      <li><a href="/">Listings</a></li>
      <li><a href="#">Experiences</a></li>
      <li><a href="#">Restaurants</a></li>
    </ul>
  </div>
</nav>